.accordion{
    margin-top:30px;
    margin-bottom:30px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color:lightgray;
    color: white;
    text-align: center;
  }

  iframe{
      width: 750px;
      height: 400px;
  }
  .table{
    margin-top:30px;
    margin-bottom:30px;
  }